/.vscode
/prof
*~
.DS_Store
.idea
*.pyc
_local
*.dot
/.python-version
.mypy_cache/
/.compiled/
/tests/compiled/
*.sc*
*.gv*
*.pdf
*.svg
*.int
*.smv
shelley.egg-info
dist
*.int
demos/**/Makefile
demos/**/*.scy
demos/**/*.shy
demos/**/*.smv
demos/**/*.pdf
demos/**/*.png
